@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

$color-khaki: #EEE3AB;
$color-primary: #39A9DB;
$color-secondary: #4B4A67;
$color-danger: #F55D3E;

// Utilities
.bg-khaki {
   background: $color-khaki;
}


body {
   font-family: 'Raleway', sans-serif;
   height: 100%;
}

#navbar {
   border-bottom: 2px solid $color-primary;
}

#showcase {
   margin-top: 78px;

   div#bg {
      position: relative;
      background: rgba(57, 169, 219, 0.4);
      height: 80vh;

      &::after {
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         height: 100%;
         width: 100%;
         background-image: url("../img/mountains.jpg");
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         opacity: 0.5;
      }

      & * {
         z-index: 10;
      }

      .container {
         height: 100%;

         .row {
            height: 100%;

            #showcase-2nd-col {
               height: 100%;

               img {
                  height: 100%;
               }
            }
         }
      }

   }
}

#authors {
   img {
      margin-top: -62px;
   }

   .authors-card {

      &:hover {
         background: $color-primary;
         color: #fff;
      }
   }
}